/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/db/
/bundle/
/*.csv
/config/
/memo/
/TAGS
/*.bat
/OLD-DATA
/exe/get_access*
*~
xdoc.txt
xdoc2.txt
/logs
/vendor
/output
/lib/feedlrop/dbutil/dbrelation.rb
/exe2
